<div class="footer-component">
    <h2 class="footer-title">Find what's new</h2>
    <form>
        <input type="text" id="Email" name="Email" placeholder="Email">
    </form>
    <app-separator-s></app-separator-s>
    <app-button [buttonItem]="buttonId" [buttonClass]="shtButton"></app-button>
    <div class="footer-SM">

    </div>
    <app-separator-s></app-separator-s>
    <h2 class="footer-title">Follow us</h2>
    <div class="footer-social" *ngFor="let social of SocialLogo">
        <img src={{social.value}}>
    </div>
    
</div>


