<div class="Home-Banner">
    <div class="Home-Banner-TXT">
        <p>BlackBird Homes</p>
    </div>
</div>
<app-separator-s></app-separator-s>
<div class="Logo-Content">
    <img src="/assets/Mobile-Images/logo.webp" alt="BlackBird Homes GR Logo">
    <p class="Logo-TXT">Blackbird Homes is a small, home renovation company.</p>
    <!-- Creating a one way binding from parent to child component. -->
    <!-- By binding Link and text content, will be able to reporpuse this component without affect exting ones. -->
    <app-button [buttonItem]="buttonId"></app-button>
</div>

<app-separator-s></app-separator-s>

<div class="Home-Content">
    <div class="Projects-Section">
        <div class="Projects-TXT">
            <p>See Projects</p>
        </div>
    </div>
    <div class="Contact-Section">
        <div class="Contact-TXT">
            <p>Cantact Us</p>
        </div>
    </div>
</div>