<div class="Home-Banner">
    <img src="/assets/Mobile-Images/MainHomeIMG.jpg" alt="">
    <div class="Home-Banner-TXT">
        <p>old homes, reimagined</p>
    </div>
</div>
<app-separator-s></app-separator-s>
<div class="Logo">
<img src="/assets/Mobile-Images/logo.jpg" alt="BlackBird Homes GR Logo">
</div>

<div class="Logo-Content">
    <p class="Logo-TXT">Blackbird Homes is a small, home renovation company.</p>
    <!-- Creating a one way binding from parent to child component. -->
    <!-- By binding Link and text content, will be able to reporpuse this component without affect exting ones. -->
    <app-button [buttonItem]="buttonId" [buttonClass]="shtButton" [buttonUrl]="url"></app-button>
</div>


<app-separator-s></app-separator-s>

<app-left-banner></app-left-banner>

<app-separator-s></app-separator-s>

<app-right-banner></app-right-banner>

<app-separator-s></app-separator-s>