<app-separator-s></app-separator-s>
<div class="form-logo">
    <img src="/assets/Mobile-Images/logo.webp" alt="BlackBird Homes Logo">
</div>
<app-separator-s></app-separator-s>
<div class="about-text-container">
    <p class="about-text">
            Blackbird Homes is a small, home renovation company. Lorem ipsum dolor sit amet, no ignota patrioque necessitatibus pro, sed ut elit salutandi scribentur. Odio labores nusquam nam in. Ei cum iisque scribentur. Sed an sonet accusam appetere, enim novum maluisset at est.
    </p>
</div>
<app-separator-s></app-separator-s>
<div class="about-owner-container">
    <div class="about-owner-img">
        <img src="/assets/Mobile-Images/UserPlaceholder.webp" alt="an image of Black Bird Homes owner">
    </div>

</div>