<app-separator-s></app-separator-s>
<div class="form-logo">
    <img src="/assets/Mobile-Images/logo.webp" alt="BlackBird Homes Logo">
</div>
<app-separator-s></app-separator-s>
<div class="about-text-container">
    <p class="about-text">
            Blackbird Homes is a small, home renovation company. Lorem ipsum dolor sit amet, no ignota patrioque necessitatibus pro, sed ut elit salutandi scribentur. Odio labores nusquam nam in. Ei cum iisque scribentur. Sed an sonet accusam appetere, enim novum maluisset at est.
    </p>
</div>
<app-separator-s></app-separator-s>
<div class="about-owner-container">
    <div class="about-owner-img">
        <img src="/assets/Mobile-Images/UserPlaceholder.webp" alt="an image of Black Bird Homes owner">
    </div>
    <ul class="owner-quality">
        <li>Owner</li>
        <li>Designer</li>
        <li>Contractor</li>
    </ul>
    <div class="owner-content">
        <p>
            Mary Grey-Lughod started it after retiring from practicing medicine (OB/Gyn) for 21 years.  
            She was born on the west side of Grand Rapids and other than lots of world travel and college/grad school, has lived here for 50 + years.  
            Growing up here, she has witnessed first hand, how the city has changed.  The west side went from stable family neighborhoods, to low cost housing, and now is experiencing urban renewal.  
            Her Mother was always interested in the history of the city and it’s homes, and many weekends were spent touring Heritage Hill, the Meyer May house and just wandering through East Grand Rapids to look at the beautiful old 
        </p>
        <p>
            With each house that she remodels, her goal is to keep the design period specific, but also, to update the homes so that they are functional for the modern family.  
            She restores original details whenever possible, retaining the unique character of each home. 
            She also adds unexpected elements that make the homes uniquely eclectic.  
            If you like homes with character, you will love what she does.  
        </p>
    </div>

</div>
<app-button [buttonItem]="aboutbuttonContent" [buttonClass]="btnclass"></app-button>
<app-separator-s></app-separator-s>