.form-logo{
    display: flex;
    justify-content: center;
}
.form-logo img{
    width: 200px;
}
.form-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.form-input{
    padding: 5px;
}
.form-button{
    text-align: center;
}
