.form-logo{
    display: flex;
    justify-content: center;
}
.form-logo img{
    width: 200px;
}
.form-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.form-input{
    padding-bottom: 10px;
}
.form-input input{
    padding: 5px;
    border-style: none;
    border-bottom: 1px black solid;
    width: 270px;
    font-size: 20px;
}
.form-button{
    text-align: center;
}
.form-input textarea{
    width: 270px;
    height: 270px;
    border: 1px black solid;
    font-size: 18px;
}
.form-error{
    color: red;
    font-size: 11px;
}
