@media (min-width: 320px) and (max-width: 664px){
.left-banner-cont{
    background-color: rgb(205, 255, 255);
    padding-top: 15px;
    padding-bottom: 15px;
}
.left-banner-pic img{
    height: 270px;
    width: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.left-banner-pic{
    text-align: center;
}
.left-banner-tx p{
    margin-left: 10%;
    margin-right: 10%;
}
.left-banner-btn-container{
    text-align: center;
}
}
@media only screen and (min-width: 665px) and (max-width: 812px) and (orientation: landscape) {
    .left-banner-cont{
        background-color: rgb(205, 255, 255);
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .left-banner-pic img{
        height: 270px;
        width: 80%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .left-banner-pic{
        text-align: center;
    }
    .left-banner-tx p{
        margin-left: 10%;
        margin-right: 10%;
    }
    .left-banner-btn-container{
        text-align: center;
    }
    .left-banner{
        width: 75%;
        margin-left: 12.5%;
        margin-right: 12.5%;
    }
}
// This is tablet/ipad resolution
// Portrait
@media (min-width: 768px) and (max-width: 1024px) {
    .left-banner{
        padding-left: 15px;
        padding-right: 15px;
    }
    .left-banner-cont{
        display: flex;
        background-color: rgb(205, 255, 255);
        padding: 15px;
    }
    .left-banner-pic img{
        height: 270px;
        width: 260px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .left-banner-pic{
        padding-right: 15px;
    }
    .left-banner-tx{
        padding-top: 10%;
        font-size: 16px;
    }

}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .left-banner{
        margin-left: 10%;
        margin-right: 10%;
    }
    .left-banner-cont{
        display: flex;
        background-color: rgb(205, 255, 255);
        padding: 15px;
    }
    .left-banner-pic img{
        height: 270px;
        width: 260px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .left-banner-pic{
        padding-right: 15px;
    }
    .left-banner-tx{
        padding-top: 10%;
        font-size: 16px;
    }
  }  
@media (min-width: 1025px){
    .left-banner{
        display: flex;
        justify-content: center;
    }
    .left-banner-cont{
        display: flex;
        background-color: rgb(205, 255, 255);
        padding: 15px;
        left: 70%;
        max-width: 920px;
    }
    .left-banner-pic img{
        height: 270px;
        width: 290px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .left-banner-pic{
        padding-right: 15px;
        padding-left: 1%;
    }
    .left-banner-tx{
        padding-top: 6%;
        font-size: 16px;
        text-align: left;
    }
    .left-banner-tx p{
        margin-left: 10%;
        margin-right: 20%;
    }
    .left-banner-btn-container{
        margin-left: 10%;
    }
}