.left-banner-div{
    text-align: center;
    width: 100%;
    background-color: rgb(205, 255, 255);
}
.left-banner-content{
    display: flex;
    justify-content: center;
    z-index: -1;
    padding-top: 15px;
}
.left-banner-img{
    background-image: url("/assets/Mobile-Images/Projects.jpg");
    height: 270px;
    width: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: opacity(0.8);
    z-index: 1;
}
.left-banner-btn-container{
    padding-bottom: 15px;
}
.left-banner-text{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 16px;
    text-align: left;
}
@media only screen and (min-width: 665px) and (orientation: landscape) { 
    .left-banner-img{
        height: 350px;
        width: 55%;
    }
    .left-banner-text{
        margin-left: 22.5%;
        margin-right: 22.5%;
        font-size: 18px;
    }
}