<div class="left-banner">
    <div class="left-banner-cont">
        <div class="left-banner-pic">
            <img src="/assets/Mobile-Images/Projects.jpg" alt="img">
        </div>
        <div class="left-banner-tx">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="left-banner-btn-container">
                <app-button [buttonItem]="leftButtonContent" [buttonClass]="btnclass" [buttonUrl]="url"></app-button>
            </div>
        </div>
    </div>
</div>