.shortButton{
    width: 150px;
    height: 45px;
    border-radius: 10%;
    font-size: 18px;
    background-color: rgb(69, 146, 175);
    border-style: solid 2px;
    box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 0  0 2px rgb(51, 49, 59),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.largeButton{
    width: 100%;
    height: 45px;
    background-color: rgb(69, 146, 175);
    font-size: 18px;
    border-style: solid 2px;
    border-color: rgb(51, 49, 59);
}

a{
    text-decoration: none;
    color: rgb(51, 49, 59);
}