.right-banner-div{
    background-color: rgb(242,219,196);
    padding-bottom: 15px;
}
.right-banner-component{
    padding-top: 15px;
    display: flex;
    justify-content: center;
}
.Contact-Section{
    background-image: url("/assets/Mobile-Images/Contact-Us.jpg");
    height: 270px;
    width: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: opacity(0.9);
    z-index: -1;
    position: relative;
    z-index: 1;
}
.right-banner-text{
    font-size: 16px;
    margin-left: 10%;
    margin-right: 10%;
}
@media only screen and (min-width: 665px) and (orientation: landscape) { 
    .Contact-Section{ 
        height: 350px;
        width: 55%;
    }
    .right-banner-text{
        margin-left: 22.5%;
        margin-right: 22.5%;
        font-size: 18px;
    }
}

