.Contact-Section{
    background-image: url("/assets/Mobile-Images/Contact-Us.jpg");
    height: 350px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: opacity(0.7);
    z-index: -1;
    position: relative;
    z-index: 4;
}

