<!-- <div class="right-banner-div">
<div class="right-banner-component">
    <div class="Contact-Section">
    </div>
</div>
<p class="right-banner-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>
<app-button [buttonItem]="leftButtonContent" [buttonClass]="btnclass" [buttonUrl]="rightBannerUrl"></app-button>
</div> -->
<div class="right-banner">
    <div class="right-banner-cont">
        <div class="right-banner-pic">
            <img src="/assets/Mobile-Images/Contact-Us.jpg" alt="right banner image">
        </div>
        <div class="right-banner-tx">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="right-banner-btn-container">
                    <app-button [buttonItem]="leftButtonContent" [buttonClass]="btnclass" [buttonUrl]="rightBannerUrl"></app-button>
            </div>
        </div>
    </div>
</div>