.right-banner-component{
    display: flex;
    justify-content: center;
}
.Contact-Section{
    background-image: url("/assets/Mobile-Images/Contact-Us.jpg");
    height: 350px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: opacity(0.9);
    z-index: -1;
    position: relative;
    z-index: -4;
}
@media only screen and (min-width: 812px) and (orientation: landscape) { 
    .Contact-Section{ 
        height: 350px;
        width: 55%;
    }
}

