
<div class="Navigation-Component">
        <div class="Navigation-Trigger">
               <button (click)="toggle()"><img (click)="changeMenuIcon()"src="{{imageSrc}}" alt="Menu Mobile Icon"></button>
        </div>
        <div [@NavigationAnimation] *ngIf="isShown" class="dropdown-menu">
            <ul class="Navigation-Content" >
                <li><a href="/home" routerLinkActive="active">Home</a></li>
                <li><a href="/about" routerLinkActive="active">About</a></li>
                <li><a href="/portfolio" routerLinkActive="active">Portfolio</a></li>
                <li><a href="/contact-us" routerLinkActive="active">Contact Us</a></li>
            </ul> 
        </div>  
</div>



