body, html{
    height: 100%;
    width:100%;
}
body{
    overflow:hidden;
}
a{
    color: rgb(222, 199, 155);  
}
    .Navigation-Component{
        z-index: 1;
    }
    .Navigation-Trigger button{
        border-style: none;
        z-index: 4;
        background-color: rgb(24, 24, 30);
        padding: 3px;
    }

    .Navigation-Trigger img{
    width: 45px;
    }
    .td-navigation-container{
        display: none;
    }
    .Navigation-Trigger{
        background-color: rgb(24, 24, 30);
    }
    .Navigation-Content {
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 25px;
        margin: 0;
        background-color:black;
        width: 100%;
        z-index: 4;
        position: absolute;
        opacity: 0.8;  
        min-height: 100%;
        height:auto !important; /* modern Browser */
        height:100%; /* IE */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
    .Navigation-Content li{
        list-style: none;
        padding-bottom: 15px;
        z-index: initial;
        color: rgb(222, 199, 155);
    }


@media only screen and (min-width: 375px) and (max-width: 812px) and (orientation: landscape) { 
    .Navigation-Component{
        z-index: 1;
    }
    .Navigation-Trigger button{
        border-style: none;
        z-index: 4;
        background-color: rgb(24, 24, 30);
        padding: 3px;
    }
    
    .Navigation-Trigger img{
       width: 45px;
    }
    .td-navigation-container{
        display: none;
    }
    .Navigation-Trigger{
        background-color: rgb(24, 24, 30);
    }
    .Navigation-Content {
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 25px;
        margin: 0;
        background-color:black;
        width: 100%;
        z-index: 4;
        position: absolute;
        opacity: 0.8;  
        min-height: 100%;
        height:auto !important; /* modern Browser */
        height:100%; /* IE */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
    .Navigation-Content li{
        list-style: none;
        padding-bottom: 15px;
        z-index: initial;
        color: rgb(222, 199, 155);
    }
   
}
// This is tablet/ipad resolution
// Portrait
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .Navigation-Trigger img{
        display: none;
    }
    .Navigation-Trigger button{
        display: none;
    } 
    .Navigation-Trigger{
        height: 45px;
    } 
    .td-navigation-container{
        display: flex;
    }
    .td-navigation-content{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .td-navigation-content p{
        color: rgb(222, 199, 155);
        font-size: 20px;
        font-family: 'PT Sans Narrow', sans-serif;
        padding-right: 25px;
        padding-left: 10px;
        padding-top: 15px;
        margin-top: 0;
    }
  }
@media (min-width: 768px) and (max-width: 1024px) {
    .Navigation-Trigger img{
        display: none;
    }
    .Navigation-Trigger button{
        display: none;
    } 
    .Navigation-Trigger{
        height: 45px;
    } 
    .td-navigation-container{
        display: flex;
    }
    .td-navigation-content{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .td-navigation-content p{
        color: rgb(222, 199, 155);
        font-size: 25px;
        font-family: 'PT Sans Narrow', sans-serif;
        padding-right: 25px;
        padding-left: 15px;
        padding-top: 10px;
        margin-top: 0;
    }
    
  } 
// This is desktop/Laptop resoluiton  
@media (min-width: 1025px) and (max-width: 1280px) {
    .Navigation-Trigger img{
        display: none;
    }
    .Navigation-Trigger button{
        display: none;
    } 
    .Navigation-Trigger{
        height: 45px;
    } 
    .td-navigation-container{
        display: flex;
    }
    .td-navigation-content{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .td-navigation-content p{
        color: rgb(222, 199, 155);
        font-size: 25px;
        font-family: 'PT Sans Narrow', sans-serif;
        padding-right: 25px;
        padding-left: 15px;
        padding-top: 10px;
        margin-top: 0;
    }
    
  }
//   For larger displays
@media (min-width: 1281px) {
    .Navigation-Trigger img{
        display: none;
    }
    .Navigation-Trigger button{
        display: none;
    } 
    .Navigation-Trigger{
        height: 55px;
    } 
    .td-navigation-container{
        display: flex;
    }
    .td-navigation-content{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .td-navigation-content p{
        color: rgb(222, 199, 155);
        font-size: 25px;
        font-family: 'PT Sans Narrow', sans-serif;
        padding-right: 25px;
        padding-left: 25px;
        padding-top: 15px;
        margin-top: 0;
    }
    
  }
  
